<!-- Banner Start -->

<div style="background-color: rgb(247,248,250,0.5);" class="py-3">



  <nav class="navbar navbar-expand-lg main-nav mb-4" id="navbar" style="height: 20rem;">
    <div class="container-fluid d-flex justify-content-center flex-column">
      <a class="navbar-brand">
        <img
          src="../assets/Egypt-Peace-Lovers-Organization - Copy.png"
          alt="Logo"
          class=" mx-4 px-m-5"
        />
      </a>

      <ngx-typed-js
      style="height:3rem"
        class=" d-none d-md-block"
        [strings]="['جمعية محبى مصر السلام', 'Egypt Peace Lovers Organization']"
        [typeSpeed]="70"
        [loop]="true"
        [showCursor]="false"
        [backSpeed]="70"
      >
        <h2 class="typing"></h2>
      </ngx-typed-js>
    </div>
  </nav>
</div>
<!-- Banner end -->


<!--service start  -->
<div class="d-flex justify-content-center align-items-center position-relative py-4">
  <img
    src="../../../assets/heart.png"
    style="opacity: 0.04; width: 35%; position: absolute"
  />

  <div class="container-fluid animation" style="direction: ltr">
    <div
      class="row d-flex flex-row justify-content-lg-around my-5"
      style="text-align: right"
    >
      <div class="col-lg-3 rev mt-3">
        <div class="mb-5" data-aos="fade-right" data-aos-delay="450">
          <div>
            <h3 class="fade-in-text fonts-header">
              الهدف<i
                style="text-align: right; color: red"
                class="bi bi-lightbulb px-3"
              ></i>
            </h3>

            <p class="fonts">المجتمع المدنى فى خدمة مصر</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 rev">
        <div class="mb-5" data-aos="fade-right" data-aos-delay="450">
          <div>
            <h3 class="fade-in-text fonts-header">
              الرسالة<i
                style="text-align: right; color: red"
                class="bi bi-chat-square-text px-3"
              ></i>
            </h3>

            <p class="fonts">
              العمل على تفعيل كافة قوى المجتمع لخدمة القضايا الوطنية وتعظيم مبدأ
              المواطنة للحفاظ على المجتمع والشباب البلاد من الفتنة والتطرف
              والتصدى لقوى الشر التى تستهدف مصر وذلك من خلال حملات التوعية
              والتثقيف والعمل على دفع عجلة الاقتصاد بتحفيز عناصر المجتمع الكامنة
              لتكون عناصر فاعلة فى مجموع الناتج القومى للبالد عبر المشروعات
              الصغرية و المتوسطه, إلى جانب التصدى للمظاهر السلبية بالمجتمع عبر
              تفعيل آليات العمل المدنى
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 rev">
        <div class="mb-5 rev" data-aos="fade-right" data-aos-delay="450">
          <div>
            <h3 class="fade-in-text fonts-header">
              الرؤية<i
                style="text-align: right; color: red"
                class="bi bi-eye px-3"
              ></i>
            </h3>

            <p class="fonts">
              تفعيل دور مؤسسات المجتمع المدنى لتكون الشريك المكمل لدور الحكومة
              فى تطوير الخدمات المجتمعيه والصحية والتعليمية مع تعزيز الدور
              المحلى فى إثراء الحياة السياسية والثقافية والفكرية لدى المواطن
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- service end -->



<!-- aboutt start-->
<div class="container-fluid mb-5" id="about">
  <div class="row justify-content-around d-flex align-items-center">

    <div class="col-lg-4 p-4 d-flex justify-content-center align-items-center">
      <img
        src="../../../assets/Capture.PNG" style="width: 60%;"
        class="shadow rounded"/>
    </div>
    <div class="col-lg-7 p-5 shadow rounded brive" style="text-align: right; font-size: 1.2rem; line-height: 1.5rem;">

        فى طليعة الحراك المدنى فى مصر ، تأسست جمعية محبي مصر السلام بجهود مجموعة
        من المهتمين بالعمل الاهلى لتقدم خدماتها المتنوعه فى مختلف مجالات الخدمات
        الثقافية والعلمية والدينية حيث كان ورائها فى البداية السيد هانى عزيز مؤسس
        الجمعيه والدكتور / ابراهيم فوزي وزير الصناعة السابق رئيس الجمعية بفكر وطني
        لا دافع له إلا خدمة الوطن المواطن.ثم انضم للجمعية باقة متتالية من رموز
        السياسة الاقتصاد والثقافة والعلوم والفنون على مدى سنوات عملها المتتاليه
        حتى وصلنا للقامات الحاليه وابرازهم : النائب/ السيد الشريف وكيل مجلس
        النواب، النائب/ سليمان وهدان وكيل مجلس النواب، د. عبد الهادى القصبى رئيس
        لجنة التضامن الاجتماعى د.عمرو عزت سلامه وزير التعليم العالى والبحث العلمى
        الاسبق رئيس اتحاد الجامعات العربية، أ.أسامة هيكل وزير الاعلام السابق ورئيس
        لجنة الاعلام بمجلس النواب، د. أحمد زكى بدر وزير التنمية المحليه الاسبق د.
        جلال السعيد وزير النقل السابق، م. حسن يونس وزير الكهرباء الاسبق م. هانى
        محمود وزير الاتصالات الاسبق م. علاء فهمى وزير النقل الاسبق د. نوال الدجوي
        رائده التعليم فى مصر ورئيس مجلس أمناء جامعه أكتوبر للعلوم الحديثة والآداب
        MSA ،

    </div>

  </div>
</div>
<!-- aboutt end-->



<!-- pic -->

<div class="row mt-5 ">
  <div class="col-12  d-flex justify-content-center">
     <img src="../../../assets/images.jpg " style="opacity: 0.2; width: 40%;">
  </div>

</div>

<!-- pic -->


<!-- tabs start-->
<div class="col-12 d-flex justify-content-center">

<div class="container-fluid">
  <div class="row ">


<div class="col-12 d-flex justify-content-center">


  <ul class="nav nav-tabs justify-content-center mt-3" id="myTab" role="tablist">
    <li class="nav-item px-5" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#mkal" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><h3 class="tab-hover px-3 py-1">المقالات</h3></button>
    </li>
    <li class="nav-item px-5" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#swar" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><h3 class="tab-hover px-3 py-1">الصور</h3></button>
    </li>
    <li class="nav-item px-5" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#video" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><h3 class="tab-hover px3 py-1">الفيدوهات</h3></button>
    </li>
  </ul>



</div>



      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center mt-5">


          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="mkal" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row d-flex justify-content-evenly">

          <div class="card mb-3 col-md-5 col-12 justify-content-center brive align-items-center shadow p-3  bg-body rounded">
            <div class="row g-0 p-2">
              <div class="col-md-4 ps-4">
                <img src="../../../assets/report-1.jpeg" class="img-fluid rounded-start img-hover" alt="..." style="height: 100%;width: 100%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">عناوين هامه</h5>
                  <p class="card-text">

                    وزيرة التضامن تبحث مع وزير البترول الأسبق ورئيس جمعية محبي مصر السلام ملفات المواطنة وحقوق الإنسان
                  </p>
                  <p class="card-text"><small class="text-muted">
                    <a  class="liink" href="https://gate.ahram.org.eg/News/3692061.aspx">
                      <h5 class="mb-0">أقرا المزيد ...</h5>
                    </a>                  </small></p>
                </div>
              </div>
            </div>
          </div>


          <div class="card mb-3 col-md-5 col-12 justify-content-center brive align-items-center shadow p-3  bg-body rounded">
            <div class="row g-0 p-2">
              <div class="col-md-4 ps-4">
                <img src="../../../assets/report2.jpg" class="img-fluid rounded-start img-hover" alt="..." style="height: 100%;width: 100%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">عناوين هامه</h5>
                  <p class="card-text">

                    القباج تشارك في مؤتمر "مقومات الحوار الوطني" للاتحاد العام للمصريين في الخارج وجمعية محبي مصر السلام
                  </p>
                  <p class="card-text"><small class="text-muted">
                    <a  class="liink" href="https://gate.ahram.org.eg/News/3518552.aspx">
                      <h5 class="mb-0">أقرا المزيد ...</h5>
                    </a>                  </small></p>
                </div>
              </div>
            </div>
          </div>

          </div>

        </div>
        <!-- <div class="tab-pane fade" id="swar" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">


          <div class="container">
<div class="row d-flex justify-content-around">


    <div class="col-xs-6 col-sm-3">
      <a href="#" title="">
        <img src="../../../assets/p1.jpg" alt=""  />
      </a>
    </div>

    <div class="col-xs-6 col-sm-3 hover-zoomin">
      <a href="#" title="">
        <img src="../../../assets/p3.jpg" alt=""/>
      </a>
    </div>

    <div class="col-xs-6 col-sm-3 hover-zoomin">
      <a href="#" title="">
        <img src="../../../assets/p3.jpg" alt=""/>
      </a>
    </div>



</div>


          </div>


        </div> -->
        <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

        </div>
      </div>



    </div>
      </div>
</div>




</div>
<!-- tabs end-->




